body {font-family: verdana; background-color: blue}
a {text-decoration: none;}
a:hover {font-weight: bold;}
.hl_g {color: white; background-color: black;}
.hl_r {color: red; background-color: yellow;}