.ueberschrift {font-family:arial; color:#FF9900; text-decoration:none;}

h1 {font-size:10}

h1 a {text-decoration:none;}

#navi td a {font-size:12px; text-decoration:none;}

.content {font-size:10;}

.content p {font-size:8;}